<launch>

  <param name="robot_description"
         command="$(find xacro)/xacro $(find turtlebot3_description)/urdf/turtlebot3_waffle.urdf.xacro"/>

  <node name="robot_state_publisher"
        pkg="robot_state_publisher"
        type="robot_state_publisher"
        output="screen"/>

  <!-- Load map -->
  <node name="map_server"
        pkg="map_server"
        type="map_server"
        args="$(find lab2)/maps/task2map.yaml"
        output="screen"/>

  <!-- A* path maker -->
  <node name="astar_path_maker"
        pkg="lab2"
        type="astar_path_maker.py"
        output="screen"/>

  <!-- Path follower -->
  <node name="path_follower"
        pkg="lab2"
        type="path_follower.py"
        output="screen"/>

  <!-- RViz -->
  <node name="rviz"
        pkg="rviz"
        type="rviz"
        args="-d $(find lab2)/rviz/rviz_configuration.rviz"
        output="screen"/>

</launch>