<?xml version="1.0"?>

<launch>

  <!-- Arguments-->
  <arg name="pipeline"  default="ompl"  doc="MoveIt planning pipeline (ompl | chomp | pilz_industrial_motion)"/>

  <!-- Force display :2 for all GUI nodes spawned from this file -->
  <env name="DISPLAY" value=":0"/>

  <!-- Turtlebot3 manupulation bringup-->
  <include file="$(find turtlebot3_manipulation_bringup)/launch/turtlebot3_manipulation_bringup.launch"/>

  <!-- Moveit!-->
  <include file="$(find turtlebot3_manipulation_moveit_config)/launch/move_group.launch">
    <arg name="pipeline" value="$(arg pipeline)"/>
    <param name="trajectory_execution/allowed_start_tolerance" value="0.05"/>
  </include>

  <!-- RViz with moveit plugin -->
  <include file="$(find turtlebot3_manipulation_moveit_config)/launch/moveit_rviz.launch"/>

</launch>